<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="designSystemStyles">
    <link rel="stylesheet" th:href="@{/css/design-system.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/typography.css}">
    <link rel="stylesheet" th:href="@{/css/avatars.css}">
    <link rel="stylesheet" th:href="@{/css/badges.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <link rel="stylesheet" th:href="@{/css/datepicker.css}">
    <link rel="stylesheet" th:href="@{/css/filters.css}">
    <link rel="stylesheet" th:href="@{/css/dropdown.css}">
    <link rel="stylesheet" th:href="@{/css/tables.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
    <link rel="stylesheet" th:href="@{/css/icons.css}">
    <link rel="stylesheet" th:href="@{/css/alerts.css}">
    <link rel="stylesheet" th:href="@{/css/tabs.css}">
    <link rel="stylesheet" th:href="@{/css/states.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/toast.css}">
    <link rel="stylesheet" th:href="@{/css/toggle.css}">
    <link rel="stylesheet" th:href="@{/css/utilities.css}">
</th:block>

</body>
</html>
