<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="staffHead(pageTitle)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle} + ' - MMO Market Staff'">Staff - MMO Market</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <th:block th:replace="~{fragments/design-system-styles :: designSystemStyles}"></th:block>
    <link rel="stylesheet" th:href="@{/css/staff.css}">
</th:block>
</body>
</html>
