<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="designSystemStyles">
    <link rel="stylesheet" th:href="@{/css/components/design-system.css}">
    <link rel="stylesheet" th:href="@{/css/components/layout.css}">
    <link rel="stylesheet" th:href="@{/css/components/typography.css}">
    <link rel="stylesheet" th:href="@{/css/components/avatars.css}">
    <link rel="stylesheet" th:href="@{/css/components/badges.css}">
    <link rel="stylesheet" th:href="@{/css/components/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/components/forms.css}">
    <link rel="stylesheet" th:href="@{/css/components/datepicker.css}">
    <link rel="stylesheet" th:href="@{/css/features/filters.css}">
    <link rel="stylesheet" th:href="@{/css/components/dropdown.css}">
    <link rel="stylesheet" th:href="@{/css/components/tables.css}">
    <link rel="stylesheet" th:href="@{/css/components/pagination.css}">
    <link rel="stylesheet" th:href="@{/css/components/icons.css}">
    <link rel="stylesheet" th:href="@{/css/components/alerts.css}">
    <link rel="stylesheet" th:href="@{/css/components/tabs.css}">
    <link rel="stylesheet" th:href="@{/css/components/states.css}">
    <link rel="stylesheet" th:href="@{/css/components/modal.css}">
    <link rel="stylesheet" th:href="@{/css/components/toast.css}">
    <link rel="stylesheet" th:href="@{/css/components/toggle.css}">
    <link rel="stylesheet" th:href="@{/css/components/utilities.css}">
    <script defer th:src="@{/js/components/dropdown.js}"></script>
</th:block>

</body>
</html>
